name: GHCR
run-name: ${{ github.event.repository.name }}-${{ github.ref_name }}-${{ inputs.build_type }}-"$(date +'%Y-%m-%d')"-${{ github.run_number }}

permissions:
  contents: read
  packages: write
  
on:
  workflow_dispatch:
    inputs:
      build_type:
        description: "Select Build type"
        required: true
        type: choice
        options:
          - Snapshot
          - Release

      dry_run:
        description: "Dry Run"
        required: true
        type: boolean
        default: false

jobs:
  Docker:
    uses: begh-azka/hello-world-repo/.github/workflows/docker-ghcr-js.yml@main

    with:
      build_type: ${{ inputs.build_type }}
      dry_run: ${{ inputs.dry_run }}
      MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
    
    secrets:
      MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
