name: CI
run-name: ${{ github.event.repository.name }}-${{ github.run_number }}-${{ github.run_id }}
on:
  workflow_dispatch:
    inputs:
      build_type:
        description: "Select Build type"
        required: true
        type: choice
        options:
          - Snapshot
          - Release

      dev:
        description: "DEV server"
        required: false
        type: choice
        options:
          - ''
          - chdev1
          - mpdev1

      sit:
        description: "SIT server"
        required: false
        type: choice
        options:
          - ''
          - chsit1
          - mpsit1

      qa:
        description: "QA server"
        required: false
        type: choice
        options:
          - ''
          - chqa1
          - mpqa1

      prod:
        description: "PROD server"
        required: false
        type: choice
        options:
          - ''
          - chprd1
          - mpprd1

jobs:
  call-central:
    uses: begh-azka/hello-world-repo/.github/workflows/central-js.yml@main
    with:
      build_type: ${{ inputs.build_type }}
      dev: ${{ inputs.dev }}
      sit: ${{ inputs.sit }}
      qa: ${{ inputs.qa }}
      prod: ${{ inputs.prod }}
