name: Matrix Deployment

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Select environment"
        required: false
        type: choice
        options:
          - ''
          - dev
          - test
          - prod

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo hello world. You have chosen ${{ inputs.env }}
      
  deploy:
    name: Deploy to K8s
    needs: build
    # strategy:
    #   max-parallel: 1
    #   matrix:
    #     env: ["${{ inputs.choice }}"]

    # environment: ${{ matrix.env }}
    environment: ${{ inputs.env }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Kubernetes
        if: ${{ inputs.env != '' }}
        run: |
          echo "Deploying to ${{ inputs.env }}"
          
          # echo "Deploying to environment: ${{ matrix.env }}"
          # kubectl apply -f manifests/${{ matrix.env }}/
